<a href="https://colab.research.google.com/github/hyunicecream/Inflearn/blob/main/Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 반복문(while, for)
# 조건문(if, elif, else)

a = 10
while a < 15:
  print("Hello World")
  a += 1

Hello World
Hello World
Hello World
Hello World
Hello World

In [ ]:
a = 1
while True:
  print("Hello World", a)
  if a > 9:
    break
  a += 1
else:
  print("Good job")

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9
Hello World 10

In [ ]:
l = [10, 20, 30, 40]
s = {10, 20, 30, 40, 10, 10, 10}
d = {'one':1, 'two':2}
for i in l:
  print(i)
print("="*10)
for i in s:
  print(i)
print("="*10)
for i in d:
  print(i)
print("="*10)
for i in range(10):
  print(i)

10
20
30
40
==========
40
10
20
30
==========
one
two
==========
0
1
2
3
4
5
6
7
8
9

In [ ]:
# range(start, step, stop)
print(type(range(10)))
print(list(range(10)))
print(1, list(range(10)))
print(2, list(range(5, 10)))
print(3, list(range(2, 10, 2)))
print(4, list(range(10, 5, -1)))
print(5, list(range(-10)))

<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
1 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
2 [5, 6, 7, 8, 9]
3 [2, 4, 6, 8]
4 [10, 9, 8, 7, 6]
5 []

In [ ]:
for i in 'Hello World':
  print(i)

H
e
l
l
o

W
o
r
l
d

In [ ]:
for i in range(10):
  print(i)
  if i == 5:
    break
else:
  print('good job')

0
1
2
3
4
5

In [ ]:
l = list(range(101))
print(l)
print("="*30)
ll= []
for i in range(10):
  ll.append(i)
print(ll)
print("="*30)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
==============================
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
==============================

In [ ]:
l = list(range(101))
# 진행형 List
ll = [i for i in range(10)]
print(ll)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(2, 10):
  for j in range(1, 10):
    print('{} X {} = {}'.format(i, j, i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
l = ['{} X {} = {}'.format(i, j, i*j) for i in range(2, 10) for j in range(1, 10)]
print(l)

['2 X 1 = 2', '2 X 2 = 4', '2 X 3 = 6', '2 X 4 = 8', '2 X 5 = 10', '2 X 6 = 12', '2 X 7 = 14', '2 X 8 = 16', '2 X 9 = 18', '3 X 1 = 3', '3 X 2 = 6', '3 X 3 = 9', '3 X 4 = 12', '3 X 5 = 15', '3 X 6 = 18', '3 X 7 = 21', '3 X 8 = 24', '3 X 9 = 27', '4 X 1 = 4', '4 X 2 = 8', '4 X 3 = 12', '4 X 4 = 16', '4 X 5 = 20', '4 X 6 = 24', '4 X 7 = 28', '4 X 8 = 32', '4 X 9 = 36', '5 X 1 = 5', '5 X 2 = 10', '5 X 3 = 15', '5 X 4 = 20', '5 X 5 = 25', '5 X 6 = 30', '5 X 7 = 35', '5 X 8 = 40', '5 X 9 = 45', '6 X 1 = 6', '6 X 2 = 12', '6 X 3 = 18', '6 X 4 = 24', '6 X 5 = 30', '6 X 6 = 36', '6 X 7 = 42', '6 X 8 = 48', '6 X 9 = 54', '7 X 1 = 7', '7 X 2 = 14', '7 X 3 = 21', '7 X 4 = 28', '7 X 5 = 35', '7 X 6 = 42', '7 X 7 = 49', '7 X 8 = 56', '7 X 9 = 63', '8 X 1 = 8', '8 X 2 = 16', '8 X 3 = 24', '8 X 4 = 32', '8 X 5 = 40', '8 X 6 = 48', '8 X 7 = 56', '8 X 8 = 64', '8 X 9 = 72', '9 X 1 = 9', '9 X 2 = 18', '9 X 3 = 27', '9 X 4 = 36', '9 X 5 = 45', '9 X 6 = 54', '9 X 7 = 63', '9 X 8 = 72', '9 X 9 = 81']

In [ ]:
# 다중인자 list
l = [(1, 10), (2, 20), (3, 30), (4, 40)]
print(l[2][1])
for i, j in l:
  print(i, j)

30
1 10
2 20
3 30
4 40

In [ ]:
for i, j in enumerate(range(100, 1000, 100), 1): # 1부터 시작하고 100부터 1000까지 100단위로
    print(i, j)

1 100
2 200
3 300
4 400
5 500
6 600
7 700
8 800
9 900

In [ ]:
for i in range(10): # pass 오류가 안나게 대처하는 용도로 씀
  if i > 5:
    continue
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World