<a href="https://colab.research.google.com/github/hyunicecream/Inflearn/blob/main/1_4_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%ED%8C%8C%EC%9D%BC%EB%A1%9C_%EC%A0%80%EC%9E%A5%ED%95%98%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
friends = [{'name': 'John', 'age': 20, 'job': 'student'},
           {'name': 'Jenny', 'age': 30, 'job': None},
           {'name': 'Nate', 'age': 30, 'job': 'teacher'}]

# None 값은 기본적으로 빈 공백          
df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]
df.head()

    name  age      job
0   John   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [ ]:
df.to_csv('friends.csv', index = True, header = True, na_rep = '-')
# na_rep = '-' , None 값을 '-'로 설정
# index = False
# header = False